@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "butler-regular";
  src: url("../public/fonts/butler/Butler_Regular_Stencil.otf");
}

@font-face {
  font-family: "avenir-medium";
  src: url("../public/fonts/avenir/Avenir.ttc");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('/images/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  overflow: hidden;
  height: 100vh;
  background-color: #fcfaf8;
}

body.blogs-page,
body.about-page,
body.blog-single-page {
  background-image: url('/images/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  height: inherit;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.blog-single-page .header .search {
  opacity: 0;
}

.fullscreenmenu {
  background-image: url('/images/menu_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 10;
}

.swiper {
  overflow: unset !important;
  padding: initial;
  height: 100vh;
}
.swiper-slide {
  height: 100vh !important;
  opacity: 0 !important;
}
.swiper-slide-active {
  opacity: 1 !important;
}

.swiper-pagination {
  right: 10px !important;
  top: 50% !important;
  transform: translate3d(0,-50%,0) !important;
}

.swiper-pagination span {
  border:  1px solid #AB8844;
  background-color: transparent !important;
  opacity: 1;
  margin: 10px 0px !important;
}
.swiper-pagination span.swiper-pagination-bullet-active {
  background-color: #AB8844 !important;
}


.bomb {
  animation-name: anim;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes anim {
  0% {
    top: 6rem;
  }
  50% {
    top: 7rem;
  }
  100% {
    top: 6rem;
  }
}



#globalLoader {
  position: absolute;
  z-index: 9999;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.930);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

#globalLoader::after {
  content: "";
  position: absolute;
  z-index: 9999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #AB8844;
  animation: 2.5s scroli forwards;
  animation-delay: .4s;
  animation-timing-function: ease-in-out
}
@keyframes scroli {
  0% {
    width: 100%;
  }
  50% {
    width: 50%;
    transform: rotateY(90deg);
  }
  100% {
    width: 100%;
  }
}

#globalLoader .logo-loader {
  opacity: 0;
  transition: all;
  animation: 1s logoloader forwards;
  animation-delay: 1s;
  z-index: 99999;
}
@keyframes logoloader {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}



.blog-content-line {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 30rem;
  padding: 1.6rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}
.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}
.embla__slide__number > span {
  color: var(--brand-primary);
  background-image: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.embla__dot,
.embla__button {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}
.embla__dots {
  z-index: 1;
  bottom: 1.2rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.embla__dot {
  width: 2rem;
  height: 3rem;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
.embla__dot:after {
  background: rgb(0 0 0 / 11%);
  border-radius: 0.2rem;
  width: 100%;
  height: 0.3rem;
  content: '';
}
.embla__dot--selected:after {
  background: linear-gradient(
    45deg,
    rgb(171 136 68),
    rgb(139 139 139)
  )
}
.embla__button {
  z-index: 1;
  color: rgb(0, 0, 0);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}
.embla__button--prev {
  left: 1.6rem;
}
.embla__button--next {
  right: 1.6rem;
}
.embla__button:disabled {
  opacity: 0.3;
}
.embla__button__svg {
  width: 65%;
  height: 65%;
}
