

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .swiper-pagination {
        right: 10px !important;
    }

    p {
        font-size: 14px;
    }

    a#navLink {
        font-size: 20px;
        margin: 0px;
    }

    /* HOMEPAGE */
    .homepage {
        grid-template-columns: auto;
    }

    .homepage p {
        font-size: 25px;
    }

    .homepage > div:first-child {
        align-items: flex-start;
        padding-top: 60%;
    }

    .homepage > div:first-child > div:last-child {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 20px;
        height: fit-content;
        position: absolute;
        bottom: 10%;
        top: auto;
    }
    .homepage > div:first-child > div:last-child img {
        width: 60px;
    }

    .homepage > div:first-child .bomb {
        width: 100px;
    }

    .homepage > div:last-child {
        position: absolute;
        bottom: 0px;
        max-width: 100%;
        left: 0px;
        right: 20px;
    }
    .homepage > div:last-child > img {
        height: 450px;
        z-index: -1;
    }

    .homepage > div:last-child > div {
        right: -50%;
    }
    .homepage > div:last-child > div > img {
        height: 200px;
    }
    /* HOMEPAGE */

    /* ABOUT US */
    .aboutus {
        display: flex;
        flex-direction: column;
        padding: 0px 30px;
    }
    .aboutus > div:first-child {
        margin-right: 0px;
    }
    .aboutus > div:last-child {
        position: absolute;
        bottom: 0px;
        z-index: -1;
    }
    /* .aboutus > div:last-child > img {
        width: 50%;
        height: 100%;
        opacity: 0.3;
        display: inline;
    } */
    .aboutus > div:last-child > div > img {
        width: 70%;
    }
    /* ABOUT US */

    /* WINE LIST */
    .winelist {
        display: flex;
        flex-direction: column;
        padding: 0px 30px;
    }

    .winelist > div:first-child {
        position: absolute;
        bottom: 0px;
    }
    .winelist > div:first-child > .bomb {
        width: 50%;
        right: 0px;
    }
    .winelist > div:first-child > img {
        width: 30%;
        height: 100%;
        display: inline;
    }
    .winelist > div:last-child {
        margin-right: 0px;
    }
    /* WINE LIST */

    /* WINE SHOP */
    .wineshop {
        display: flex;
        flex-direction: column;
        padding: 0px 30px;
    }
    .wineshop > div:first-child {
        margin-right: 0px;
    }
    .wineshop > div:last-child {
        position: absolute;
        bottom: 0px;
        width: 25%;
        right: 25px;
        z-index: -1;
    }
    .wineshop > div:last-child > img {
        height: 100%;
    }
    /* WINE SHOP */

    /* OUR BRANDS */
    .ourbrands {
        padding: 0px 30px;
    }
    .ourbrands > div {
        width: 100%;
    }
    .ourbrands #mapa {
        width: 100%;
        min-width: 100%;
        margin: auto;
    }
    /* OUR BRANDS */

    /* CONTACT US */
    .contactus {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
    }
    .contactus > div:first-child {
        margin-right: 0px;
    }
    .contactus > div:nth-child(2) {
        position: absolute;
        width: 30%;
        height: 70%;
        bottom: 0px;
        right: 0px;
        display: inline;
    }
    .contactus > div:last-child {
        left: 0px;
    }
    /* CONTACT US */

    /* ABOUT PAGE */
    .about-page {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
    }
    .about-page > div:first-child {
        margin-right: 0px;
    }
    /* ABOUT PAGE */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    /* .navigat {
        margin-top: 150px;
    } */
    .navigat a {
        margin: 5px;
        font-size: 25px;
    }
}
