

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .swiper-pagination {
        right: 10px !important;
    }

    /* HOMEPAGE */
    .homepage {
        grid-template-columns: auto;
    }

    .homepage > div:first-child {
        align-items: flex-start;
        padding-top: 60%;
    }

    .homepage > div:first-child > div:last-child {
        top: 0px;
    }
    .homepage > div:first-child > div:last-child img {
        width: 60px;
    }

    .homepage > div:first-child .bomb {
        width: 100px;
    }

    .homepage > div:last-child {
        position: absolute;
        bottom: 0px;
        max-width: 100%;
        left: 0px;
        right: 20px;
    }
    .homepage > div:last-child > img {
        height: 450px;
    }

    .homepage > div:last-child > div {
        right: -50%;
    }
    .homepage > div:last-child > div > img {
        height: 200px;
    }
    /* HOMEPAGE */

    /* ABOUT US */
    .aboutus {
        display: flex;
        flex-direction: column;
        padding: 0px 30px;
    }
    .aboutus > div:first-child {
        margin-right: 0px;
    }
    .aboutus > div:last-child {
        position: absolute;
        bottom: 0px;
        z-index: -1;
    }
    .aboutus > div:last-child > img {
        width: 50%;
        height: 100%;
        opacity: 0.3;
        display: inline;
    }
    .aboutus > div:last-child > div > img {
        width: 70%;
    }
    /* ABOUT US */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}